p{
    color:burlywood;
    font-size:18pt;
}
.Gustavo{
    color: orange
}
h2:hover{
    color: yellow;
}
.cordepais0{
    color:purple ;
}
.cordepais{
    color: red;
}
.cordepais2{
    color:blue
}
.cordepais3{
    color: green;
}
.cordepais4{
    color: blueviolet;
}